body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #343a40;
}

p {
    color: #6c757d;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.list-group-item img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 8px;
}

.btn {
    margin-top: 10px;
    color: blueviolet
}
